# Fichiers de projet (IDE)
.codelite/*
.project
.cproject
bataille2.*

# Dossiers de Build
build/*
Debug/*
Release/*

# Fichiers binaires
bin/*

# Eclipse settings
.settings/*
.externalToolBuilders/*

# Documentation (Seulement les fichiers du répertoire html)
doc/client/html/*.*

# Fichiers .o
*.o
*.obj

# Fichiers .log
*.log

# Others
*.db

# Visual Studio
*.sln
*.vcxproj*
*.opensdf
*.sdf
*.suo
