# Project files
bataille2.*
.codelite/*
.project
.cproject

# Build files
build/*
Debug/*
Release/*

# Binary files
bin/*

# Eclipse settings
.settings/*
.externalToolBuilders/*

# Documentation
doc/client/html/*.*

# Fichiers .o
*.o
*.obj

# Fichiers .log
*.log
/Release

# Others
*.db
