# Project files
bataille2.*
.codelite/*
.project
.cproject

# Build files
build/*
Debug/*
Release/*

# Binary files
bin/*

# Eclipse settings
.settings/*

# Documentation
doc/client/html/*.*

# Fichiers .o
*.o

# Fichiers .log
*.log
/Release
